<% layout('layouts/boilerplate') %>


<div class="row">
    <h1 class="text-center">Edit Campground <%= campground.title %>
    </h1>
    <div class="col-6 offset-3">

        <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST" novalidate class="validated-form"
            enctype="multipart/form-data">
            <div class="mb-3">
                <label for="title" class="form-label">Campground Title</label>
                <input type="text" class="form-control" id="title" name="campground[title]"
                    value="<%= campground.title %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label for="location" class="form-label">Campground Location</label>
                <input type="text" class="form-control" id="location" name="campground[location]"
                    value="<%= campground.location %>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <label for="price" class="form-label">Campground Price</label>
                <div class="input-group">
                    <span class="input-group-text">$</span>
                    <input type="text" class="form-control" id="price" name="campground[price]"
                        value="<%= campground.price %>" required>
                    <span class="input-group-text">.00</span>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
            </div>


            <div class="mb-3">
                <div class="input-group mb-3">
                    <label class="input-group-text" for="image">Image</label>
                    <input type="file" class="form-control" name="campground[image]" id="image" multiple>
                </div>
            </div>

            <div class="mb-3">
                <% campground.images.forEach(function(image,i){ %>
                <img src="<%= image.url %> " class="img-thumbnail" alt="campground image <%= i %> ">
                <label for="image-<%=i%>">Select</label>
                <input type="checkbox" name="deleteImages[]" id="image-<%=i%>" value="<%= image.filename %> ">
                <% }) %>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Campground Description</label>
                <textarea class="form-control" id="description" name="campground[description]"
                    required><%= campground.description %> </textarea>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>

            <div class="mb-3">
                <button class="btn btn-success">Update Campground</button>
            </div>
        </form>
        <a href="/campgrounds">back to campgrounds</a>
    </div>

</div>