<% layout('layouts/boilerplate') %>


    <h1>Campground <%= campground.title %>
    </h1>
    <img src="<%= campground.image %> " alt="">
    <p>
        <%= campground.description %>
    </p>
    <p> $ <%= campground.price %>
    </p>
    <p>
        <%= campground.location %>
    </p>

    <p>
        <a href="/campgrounds/<%= campground._id %>/edit ">Edit this campground</a>
    </p>

    <div>
        <form action="/campgrounds/<%=campground._id%>?_method=DELETE" method="POST">
            <button>Delete this campground</button>
        </form>
    </div>



    <a href="/campgrounds">back to all campgrounds</a>